<!-- VISTA TABLA -->
<div *ngIf="vista === 'tabla'">
  <h1>Gestión de Cursos</h1>

  <mat-form-field appearance="outline" class="search-bar">
    <mat-label>Buscar curso</mat-label>
    <input
      matInput
      placeholder="Ejemplo: Java Básico"
      [(ngModel)]="searchTerm"
      (input)="filtrarCursos()"
    />
    <button mat-icon-button matSuffix (click)="filtrarCursos()">
      <mat-icon>search</mat-icon>
    </button>
    <button
      mat-icon-button
      matSuffix
      *ngIf="searchTerm"
      (click)="limpiarBusqueda()"
      matTooltip="Limpiar búsqueda"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <!-- Mostrar si no hay resultados -->
  <div *ngIf="cursosFiltrados.length === 0 && searchTerm" class="no-results">
    <p>No se encontraron cursos que coincidan con "{{ searchTerm }}"</p>
  </div>

  <table class="course-table" *ngIf="cursosFiltrados.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Duración estimada</th>
        <th>Nivel</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let curso of cursosFiltrados"
        (click)="seleccionarCurso(curso)"
        [class.seleccionado]="cursoSeleccionado?.id === curso.id"
      >
        <td>{{ curso.id }}</td>
        <td>{{ curso.title }}</td>
        <td>{{ curso.description }}</td>
        <td>{{ formatearDuracion(curso.estimatedDuration) }}</td>
        <td>{{ curso.level }}</td>
      </tr>
    </tbody>
  </table>

  <div class="bottom-action">
    <button 
      mat-raised-button 
      color="warn"
      class="eliminar"
      [disabled]="!cursoSeleccionado"
      (click)="eliminarCurso()">
      Eliminar
    </button>

    <button 
      mat-raised-button 
      color="primary" 
      class="editar"
      [disabled]="!cursoSeleccionado"
      (click)="editarCurso()">
      Editar
    </button>

   
    <button 
      mat-raised-button 
      color="accent" 
      class="modulos" 
      (click)="gestionarModulosCurso()">
      <mat-icon>list_alt</mat-icon>
      Gestionar Módulos
    </button>



    <button 
  mat-raised-button 
  class="volver" 
  (click)="volver()"> 
  Volver
</button>
  </div>
</div>

<div *ngIf="vista === 'editar'" class="form-container">
  <app-editar-curso
    [curso]="$any(cursoSeleccionado)"
    (cancelar)="vista = 'tabla'"
    (cursoActualizado)="onCursoActualizado($event)">
  </app-editar-curso>
</div>