.courses-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.course-card {
  border-radius: 12px;
  padding: 1rem;
  background: #ffffff !important;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-5px);
  }

  .course-icon {
    color: #2b7ce5;
    font-size: 36px;
    margin-bottom: 0.5rem;
  }
}

.add-course-card {
  width: 320px;
  height: 200px;
  border-radius: 12px;
  background: #ffffff !important;
  border-top: 8px solid #8a2be2;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  .add-icon {
    color: #8a2be2;
    font-size: 48px;
    margin-bottom: 0.5rem;
  }

  p {
    color: #4f4f4f;
    font-weight: 600;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(138, 43, 226, 0.3);
  }

  


}
